@CHARSET "UTF-8";


.modify-header .modify-top {
	background-color: #282828;
}

.modify-top {
	padding-bottom: 25px;
}

.modify-admin-logo {
	text-align: center;
	font-weight: bold;
	font-size: 22px;
}

.modify-shootboy-main {
	
	text-align: center;
}
.logo-text{
	color: #ebebeb;
	text-decoration: none;
}

.main-text{
	color: #ebebeb;
	text-decoration: none;
}
.bottom {
	text-align: center;
	color: #ebebeb;
	text-decoration: none;
	margin-bottom: 20px;
}

.modify-title{
	font-weight: bold;
	font-size: 15px;
}

#modifyBtn {
	padding:10px;
	border:1px solid #ccc;
	background:#fafafa;
	text-decoration:none;
	cursor:pointer
}

#locationId, #leafCategory {
	height: 25px;
	vertical-align: middle;
	width: 150px;
}

.filebox label {
  display: inline-block;
  line-height: normal; 
  padding:5px;
  vertical-align: middle;
  background-color: #fafafa;
  cursor: pointer;
  border:1px solid #ccc;
  text-decoration:none;
  font-size: 14px;
}

.filebox input[type="file"] {  /* 파일 필드 숨기기 */
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip:rect(0,0,0,0);
  border: 0;
}