@CHARSET "UTF-8";

.grid {
	width: 50%;
	border-collapse: collapse;
	background-color: #FFFFFF;
}

.grid td {
	padding: 7px;
}

.grid tr, td {
	border: solid 1px #000000;
}

.One {
	text-align: center;
}

.grid th, td {
	border-left: none;
	border-right: none;
}