@CHARSET "UTF-8";

#wrapper {

<<<<<<< HEAD
=======
	
>>>>>>> 7a385f496eb3cdf930e529079ae124451a4cebcd
	margin: 0 auto;
}
body {
	background-color: #8fcfbf;
}

.warning {
	background-color: #f3297a;
}

.pass {
	background-color: #55bc3f;
}


ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 200px;
	background-color: #f1f1f1;
}

li a {
	display: block;
	color: #000;
	padding: 8px 16px;
	text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
	background-color: #555;
	color: white;
}

