@CHARSET "UTF-8";

#locationNavi ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    width: 500px;
}

#locationNavi li {
    float: left;
}

#locationNavi li a {
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #ffffff;
}

#locationNavi li a:hover:not(.active) {
    background-color: #8ad2f9;
}

#locationNavi li a.active {
    color: white;
    background-color: #0080ff;
}

#matchApplyManagement {
	margin-left:80px;
	padding:20px;
	margin-bottom: 30px;
}

.matchApplyImg {
	display: inline-block;
}

.matchApplyContent {
	display: inline-block;
	vertical-align: top;
	margin-left: 50px;
	width: 300px;
}

#teamMatchInfoWrapper {
	margin-left: 130px;	
	width:400px;
	padding: 5px;
	margin-bottom: 20px;
}

.matchInfoImg, .matchInfoText{ 
	vertical-align: top;
	display: inline-block;
}

.matchCancelBtn {
	float:right;
	margin-top: 30px;	
	background-color: #f74a7a;
}

.matchCancelBtn:HOVER {
	background-color: #ff80c0;
}

.matchAgreementBtn {
	float:right;
	margin-top: 30px;	
	background-color: #3c91f9;
}

.matchAgreementBtn:HOVER {
	background-color: #75b1fb;
}
..matchInfoTeamName, .matchInfoTeamLocation, .matchField, .matchDate {
	margin-bottom:20px;
	font-size: 20px;
}

.matchApplyImg {
	width: 200px; 
	height: 200px;" 
}

.matchApplyTeamName, .matchApplyTeamCount, .matchApplyTeamLocation, .matchApplyTeamInfo, .matchBtn, .matchApplyField, .matchApplySchedule {
	margin-bottom:10px;
	font-size: 20px;
}

.matchBtn {
	background-color: #ff8000;
	color: #fff;
}

.matchBtn:HOVER {
	background-color: #ffb062;
}

.teamOneImg, .teamTwoImg {
	width:200px;
	height: 200px;
	border-radius: 500px;
}

#teamTwo {
	margin-left: 70px;
}

.teamOneName {
	font-weight:bold;
	text-align:center;
	font-size: 20px;
	color: #0080ff;
}

.teamTwoName {
	font-weight:bold;
	text-align:center;	
	font-size: 20px;
	color: red;
}

#teamOne, #teamTwo, #matchFieldAndLocation, .vsImg {
	display: inline-block;
}

.vsImg {
	width: 80px;
	height: 80px;
	vertical-align: top;
	padding-bottom:40px;
	margin-left:20px;
}
#matchFieldAndLocation {
	margin-left: 50px;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
}

#teamMatchWrapper {
	padding:10px;
	margin-left: 30px;
	margin-bottom: 15px;
}
