@CHARSET "UTF-8";

#locationNavi ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    width: 500px;
}

#locationNavi li {
    float: left;
}

#locationNavi li a {
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #ffffff;
}

#locationNavi li a:hover:not(.active) {
    background-color: #8ad2f9;
}

#locationNavi li a.active {
    color: white;
    background-color: #0080ff;
}