@CHARSET "UTF-8";

#locationNavi ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    width: 500px;
}

#locationNavi li {
    float: left;
}

#locationNavi li a {
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #ffffff;
}

#locationNavi li a:hover:not(.active) {
    background-color: #8ad2f9;
}

#locationNavi li a.active {
    color: white;
    background-color: #0080ff;
}

#matchApplyManagement {
	margin-left:80px;
	padding:20px;
	margin-bottom: 30px;
}

.matchApplyImg {
	display: inline-block;
}

.matchApplyContent {
	display: inline-block;
	vertical-align: top;
	margin-left: 50px;
	width: 300px;
}

.matchApplyImg {
	width: 200px; 
	height: 200px;" 
}

.matchApplyTeamName, .matchApplyTeamCount, .matchApplyTeamLocation, .matchApplyTeamInfo, .matchBtn {
	margin-bottom:10px;
	font-size: 20px;
}

.matchBtn {
	background-color: #ff8000;
	color: #fff;
}

.matchBtn:HOVER {
	background-color: #ffb062;
}

.teamOneImg, .teamTwoImg {
	width:200px;
	height: 200px;
}

#teamOne, #teamTwo {
	display: inline-block;
}