@CHARSET "UTF-8";

/* 내 정보 */
#myPageLeftMenu {
	font-size: 30px;
	padding:30px;
	width: 210px;
}

#myPageLeftMenuTwo {
	border-top: none;
	border-right:4px solid #1377c8;
	border-left:4px solid #1377c8;
	border-bottom:4px solid #1377c8;
	border-radius: 0 0 4px 4px;
}

.mplmTitle {
	text-align:left;
	color:#f0eeec;
	font-size: 30px;
	background-color: #1377c8;
	border-radius: 4px 4px 0 0;
}

.mplmOne, .mplmTwo, .mplmThree, .mplmFour {
	font-size: 20px;
	padding: 10px;
}

.arrow {
	vertical-align:middle;
	width: 40px;
	height: 30px;
}

#myPageLeftMenu, .myInfoText {
	display: inline-block;
}

.myInfoText {
	vertical-align:top;
	margin-top:30px;
	font-size: 30px;
	color: #000000;
}
.myPageline {
	width: 800px;
	border: 1px solid;
}

#userInfoWrapper {
	margin-top:30px;
	margin-right:100px;
	border:2px solid #5d5d5d;
	padding: 20px; 
	border-radius: 30px;
}

#modifyBtn {
	color:#fff;
	font-size: 15px;
	width: 60px;	
	background-color: #0080ff;
	margin-bottom: 20px;
}

#modifyBtn:HOVER {
	background-color: #005ab5;
}

#deleteTeam {
	color:#fff;
	font-size: 15px;
	background-color:#ff4a4a;
	display: inline-block;	
}

#deleteTeam:HOVER {
	background-color: #ff0000;
}

#dropTeam {
	color:#fff;
	font-size: 15px;
	background-color:#ff4a4a;
	display: inline-block;	
}

#dropTeam:HOVER {
	background-color: #ff0000;
}

#password {
	width:180px;
	font-size: 15px;
}

#inline {
	display: inline-block;
}

#userModifyWrapper {
	margin: 0 auto;
	width:350px;	
}

#userModifyHeader {
	color: #30b5ed;
	font-size: 30px;
}

#userModifyForm {
	font-size: 20px;
}

/* 팀 정보 */
#allTeamLeftMenu {
	font-size: 30px;
	padding:30px;
	width: 200px;
}

#passwordConfirm {
	font-size: 15px;
	width: 130px;	
	background-color: #0080ff;
	margin-bottom: 20px;
	color: #fff;
}

#passwordConfirm:HOVER {	
	background-color: #005ab5;
}

#deleteUser {
	color: #fff;
	font-size: 15px;
	width:100px;
	background-color: #ff5151;
	margin-bottom: 20px;
}

#deleteUser:HOVER {
	background-color: #ff0000;
}

#deleteUserTwo {
	color: #fff;
	font-size: 15px;
	width:100px;
	background-color: #ff5151;
	margin-bottom: 20px;
}

#deleteUserTwo:HOVER {
	background-color: #ff0000;
}

#allTeamLeftMenuTwo {
	border-top: none;
	border-right:4px solid #1377c8;
	border-left:4px solid #1377c8;
	border-bottom:4px solid #1377c8;
	border-radius: 0 0 4px 4px;
}

.allTeamTitle {
	text-align:left;
	color:#f0eeec;
	font-size: 30px;
	background-color: #1377c8;
	border-radius: 4px 4px 0 0;
}

.allTeamOne {
	font-size: 20px;
	padding: 10px;
}

#allTeamLeftMenu, .allTeamText {
	display: inline-block;
}

.allTeamText {
	vertical-align:top;
	margin-top:30px;
	font-size: 30px;
	color: #000000;
}

.teamline {
	width: 750px;
	border: 1px solid;
}

#createBtn:HOVER {
	background-color: #9e9e9e;
	border-radius: 4px 4px 4px 4px;	
}

#deleteTeamBtn {
	margin-bottom: 20px;
	background-color: #ff5151;
	color:#fff;
}

#deleteTeamBtn:HOVER {
	background-color: red;
}

#joinContainer {
	width: 680px;
	margin-left: 280px;
}

.joinRightBtn {
	float: right;
	vertical-align: top;
	display: inline-block;
}

#joinAdmit{
	color:#fff;
	background-color: #59acff;
}

#joinAdmit:HOVER {
	background-color: #1e8eff;
}

#joinRefuse {
	color:#fff;
	background-color: #ff8ec7;
}

#joinRefuse:HOVER {
	background-color: #ff46a3;
}

#join {
	font-size:13px;
	width: 550px;
	float: left;
	display: inline-block;
}

#teamJoinBtn {
	margin-top: 30px;
	margin-right:20px;
	float: right;
	background-color: #db9342;
	color: #fff;
}

#teamJoinBtn:HOVER {
	background-color: #8d571b;
}