@CHARSET "UTF-8";

#signInWrapper {
	width: 500px;
}

.signInTitle {
	text-align: center;
	font-size: 50px;
}

#signForm {
	margin-top: 20px;
}

#signBtn, #cancelBtn {
	width: 80px;
	background-color: #eadcd7;
	border-radius: 4px 4px 4px 4px;
}

#cancelBtn {
	float: right;
}

#signBtn:HOVER, #cancelBtn:HOVER {
	background-color: #c48d8c;
	border-radius: 4px 4px 4px 4px;
}