@CHARSET "UTF-8";

#signUpText {
	float: left;
	margin-left: 150px;
	width: 800px;
	color: #bc7412;
	margin-bottom: 30px;
	margin-top: 10px;
}

#signUpForm {
	padding: 100px;
	margin-left: 250px;
}

#signUpText #signUpClauseOne, #signUpClauseTwo {
	letter-spacing: 3px;
	font-size: 20px;
	color: #000000;
	padding-top: 10px;
	margin-left: 20px;
}

#signUpText #clauseOne, #clauseTwo {
	margin-left: 40px;
	margin-top: 20px;
	width:750px;	
	height: 200px;
}

#checkbox {
	margin-left: 70px;
}

.line {
	width:800px;
	border: 1px solid #000;
}

.lineTwo {
	margin-top: 50px;
	margin-left: 75px;
	margin-right: 75px;	
}

.signText {
	font-size: 30px;
	margin-bottom: 30px;
	
}

#email, #userName, #password1, #password2, #passwordHintKey 
	  , #passwordHintValue, #phoneNumber, #age, #position
	  , #locationId, #leafCategory, #signBtn {
	margin: 10px;
	width: 300px;
}

#email {
	margin-left: 50px;
}

#userName {
	margin-left: 63px;
}

#password1 {
	margin-left: 38px;
}

#passwordHintKey, #passwordHintValue {
	margin-left: 92px;
}

#phoneNumber {
	margin-left: 40px;
}

#age {
	margin-left: 65px;
}

#position {
	margin-left: 53px;
}

#locationId, #leafCategory {
	margin-left: 37px;
}

#btn{
	margin-top: 20px;	
}

#signBtn {
	margin-right: 50px;
	background-color: #d7ba31;
	border-radius: 4px 4px 4px 4px;
}

#signBtn:HOVER, #cancelBtn:HOVER {
	margin-right: 50px;
	background-color: #eadb95;
	border-radius: 4px 4px 4px 4px;	
}

#cancelBtn {
	background-color: #d7ba31;
	border-radius: 4px 4px 4px 4px;
}