@CHARSET "UTF-8";

#signInWrapper {
	height:300px;
	width: 500px;
}

.signInTitle {
	text-align: center;
	font-size: 50px;
}

#signForm {
	margin-top: 20px;
	padding: 10px;
}

#signBtn {
	float:right;
	background-color: #55aaff;
	border-radius: 4px 4px 4px 4px;
	margin-top: 20px;
	font-size: 20px;
}

#cancelBtn {
	float: right;
}

#signBtn:HOVER, #cancelBtn:HOVER {
	background-color: #88c4ff;
	border-radius: 4px 4px 4px 4px;
}

.subSignForm {
	margin-top: 50px;
	font-size: 20px;
}

#userEmail, #password {
	font-size: 25px;
}

.signInTitle {
	color: #0080ff;
}

.signInTitle:HOVER {
	color: #68b4ff;
}

#findPasswordWrapper {
	height:400px;
	width: 500px;
	margin: 0 auto;
}

.passwordFind {
	width: 500px;
	font-size: 50px;
	color: #0080ff;
}

.passwordText {
	width: 1100px;
}

#email {
	margin-top: 20px;
	width: 300px;
	font-size: 30px;
}

.findBtn {
	margin-left:500px;
	margin-top: 20px;
}

#nextBtn {
	height:30px;
	width:100px;
	float:right;
	background-color: #55aaff;
	border-radius: 4px 4px 4px 4px;
	font-size: 15px;
}

#nextBtn:HOVER {
	height:30px;
	width:100px;
	float:right;
	background-color: #88c4ff;
	border-radius: 4px 4px 4px 4px;
}

.passwordText {
	font-size: 20px;	
}

#passwordHome {
	float: right;
}

#findTwoWrapper {
	height:300px;
	width: 500px;
	margin: 0 auto;
}

.findTextOne {
	font-size: 20px;
	padding-bottom: 10px;
}

.findTextTwo {
	font-size: 20px;
	padding-bottom: 10px;
}

#answer {
	width: 400px;
	margin-left: 60px;
	font-size: 20px;
}

#nextBtn {
	margin-top: 20px;
}

.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

.findWarning {
	margin-top: 10px;
	background-color: #e888ba;
	color: #e888ba;
}
