<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ShootBoy</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>IndexServlet</display-name>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>net.Y5M2.article.web.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>EncodingFilter</display-name>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>net.Y5M2.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ViewSignUpServlet</display-name>
    <servlet-name>ViewSignUpServlet</servlet-name>
    <servlet-class>net.Y5M2.user.web.ViewSignUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewSignUpServlet</servlet-name>
    <url-pattern>/signUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoSignUpServlet</display-name>
    <servlet-name>DoSignUpServlet</servlet-name>
    <servlet-class>net.Y5M2.user.web.DoSignUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoSignUpServlet</servlet-name>
    <url-pattern>/doSignUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ViewListPageServlet</display-name>
    <servlet-name>ViewListPageServlet</servlet-name>
    <servlet-class>net.Y5M2.article.web.ViewListPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewListPageServlet</servlet-name>
    <url-pattern>/list</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ViewWritePageServlet</display-name>
    <servlet-name>ViewWritePageServlet</servlet-name>
    <servlet-class>net.Y5M2.article.web.ViewWritePageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewWritePageServlet</servlet-name>
    <url-pattern>/write</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewMainPageServlet</display-name>
    <servlet-name>ViewMainPageServlet</servlet-name>
    <servlet-class>net.Y5M2.main.web.ViewMainPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewMainPageServlet</servlet-name>
    <url-pattern>/main</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VeiwTestPageServlet</display-name>
    <servlet-name>VeiwTestPageServlet</servlet-name>
    <servlet-class>net.Y5M2.user.web.VeiwTestPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VeiwTestPageServlet</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoWriteServlet</display-name>
    <servlet-name>DoWriteServlet</servlet-name>
    <servlet-class>net.Y5M2.article.web.DoWriteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoWriteServlet</servlet-name>
    <url-pattern>/doWrite</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewDetailPageServlet</display-name>
    <servlet-name>ViewDetailPageServlet</servlet-name>
    <servlet-class>net.Y5M2.article.web.ViewDetailPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewDetailPageServlet</servlet-name>
    <url-pattern>/board/detail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoDeleteServlet</display-name>
    <servlet-name>DoDeleteServlet</servlet-name>
    <servlet-class>net.Y5M2.article.web.DoDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoDeleteServlet</servlet-name>
    <url-pattern>/board/doDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoCheckEmail</display-name>
    <servlet-name>DoCheckEmail</servlet-name>
    <servlet-class>net.Y5M2.user.web.ajax.DoCheckEmail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoCheckEmail</servlet-name>
    <url-pattern>/doCheckEmail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoCheckLocation</display-name>
    <servlet-name>DoCheckLocation</servlet-name>
    <servlet-class>net.Y5M2.location.web.ajax.DoCheckLocation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoCheckLocation</servlet-name>
    <url-pattern>/checkLocation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewCreateTeamPageServlet</display-name>
    <servlet-name>ViewCreateTeamPageServlet</servlet-name>
    <servlet-class>net.Y5M2.team.web.ViewCreateTeamPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewCreateTeamPageServlet</servlet-name>
    <url-pattern>/createTeam</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoCreateTeamServlet</display-name>
    <servlet-name>DoCreateTeamServlet</servlet-name>
    <servlet-class>net.Y5M2.team.web.DoCreateTeamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoCreateTeamServlet</servlet-name>
    <url-pattern>/doCreateTeam</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewTeamPageServlet</display-name>
    <servlet-name>ViewTeamPageServlet</servlet-name>
    <servlet-class>net.Y5M2.team.web.ViewTeamPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewTeamPageServlet</servlet-name>
    <url-pattern>/team</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewSignInPageServlet</display-name>
    <servlet-name>ViewSignInPageServlet</servlet-name>
    <servlet-class>net.Y5M2.user.web.ViewSignInPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewSignInPageServlet</servlet-name>
    <url-pattern>/signIn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoSignInServlet</display-name>
    <servlet-name>DoSignInServlet</servlet-name>
    <servlet-class>net.Y5M2.user.web.DoSignInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoSignInServlet</servlet-name>
    <url-pattern>/doSignIn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoModifyServlet</display-name>
    <servlet-name>DoModifyServlet</servlet-name>
    <servlet-class>net.Y5M2.article.web.DoModifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoModifyServlet</servlet-name>
    <url-pattern>/board/doModify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewModifyPageServlet</display-name>
    <servlet-name>ViewModifyPageServlet</servlet-name>
    <servlet-class>net.Y5M2.article.web.ViewModifyPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewModifyPageServlet</servlet-name>
    <url-pattern>/board/modify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoDownloadServlet</display-name>
    <servlet-name>DoDownloadServlet</servlet-name>
    <servlet-class>net.Y5M2.article.web.DoDownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoDownloadServlet</servlet-name>
    <url-pattern>/board/doDownload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewPasswordFindPageServletTwo</display-name>
    <servlet-name>ViewPasswordFindPageServletTwo</servlet-name>
    <servlet-class>net.Y5M2.user.web.ViewPasswordFindPageServletTwo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewPasswordFindPageServletTwo</servlet-name>
    <url-pattern>/passwordFindTwo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewPasswordFindPageServlet</display-name>
    <servlet-name>ViewPasswordFindPageServlet</servlet-name>
    <servlet-class>net.Y5M2.user.web.ViewPasswordFindPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewPasswordFindPageServlet</servlet-name>
    <url-pattern>/passwordFind</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchInitiateServlet</display-name>
    <servlet-name>SearchInitiateServlet</servlet-name>
    <servlet-class>net.Y5M2.article.web.SearchInitiateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchInitiateServlet</servlet-name>
    <url-pattern>/list/init</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoShowImage</display-name>
    <servlet-name>DoShowImage</servlet-name>
    <servlet-class>net.Y5M2.team.web.DoShowImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoShowImage</servlet-name>
    <url-pattern>/showImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewTeamDetailPageServlet</display-name>
    <servlet-name>ViewTeamDetailPageServlet</servlet-name>
    <servlet-class>net.Y5M2.team.web.ViewTeamDetailPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewTeamDetailPageServlet</servlet-name>
    <url-pattern>/teamDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewReplayPageServlet</display-name>
    <servlet-name>ViewReplayPageServlet</servlet-name>
    <servlet-class>net.Y5M2.replay.ViewReplayPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewReplayPageServlet</servlet-name>
    <url-pattern>/replay</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckReplayList</display-name>
    <servlet-name>CheckReplayList</servlet-name>
    <servlet-class>net.Y5M2.replay.web.ajax.CheckReplayList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckReplayList</servlet-name>
    <url-pattern>/replayList</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>DoLogOutServlet</display-name>
    <servlet-name>DoLogOutServlet</servlet-name>
    <servlet-class>net.Y5M2.user.web.DoLogOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoLogOutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAdminPageServlet</display-name>
    <servlet-name>ViewAdminPageServlet</servlet-name>
    <servlet-class>net.Y5M2.admin.web.ViewAdminPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAdminPageServlet</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoDeleteReplayServlet</display-name>
    <servlet-name>DoDeleteReplayServlet</servlet-name>
    <servlet-class>net.Y5M2.replay.web.DoDeleteReplayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoDeleteReplayServlet</servlet-name>
    <url-pattern>/replayDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewUserInfoPageServlet</display-name>
    <servlet-name>ViewUserInfoPageServlet</servlet-name>
    <servlet-class>net.Y5M2.user.web.ViewUserInfoPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewUserInfoPageServlet</servlet-name>
    <url-pattern>/userInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewMessagePageServlet</display-name>
    <servlet-name>ViewMessagePageServlet</servlet-name>
    <servlet-class>net.Y5M2.user.web.ViewMessagePageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewMessagePageServlet</servlet-name>
    <url-pattern>/message</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewUserModifyPageServlet</display-name>
    <servlet-name>ViewUserModifyPageServlet</servlet-name>
    <servlet-class>net.Y5M2.user.web.ViewUserModifyPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewUserModifyPageServlet</servlet-name>
    <url-pattern>/userModify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoUserModifyServlet</display-name>
    <servlet-name>DoUserModifyServlet</servlet-name>
    <servlet-class>net.Y5M2.user.web.DoUserModifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoUserModifyServlet</servlet-name>
    <url-pattern>/doUserModify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewDetailTeamInfo</display-name>
    <servlet-name>ViewDetailTeamInfo</servlet-name>
    <servlet-class>net.Y5M2.team.web.ViewDetailTeamInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewDetailTeamInfo</servlet-name>
    <url-pattern>/detailTeamInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewTeamInfoModify</display-name>
    <servlet-name>ViewTeamInfoModify</servlet-name>
    <servlet-class>net.Y5M2.team.web.ViewTeamInfoModify</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewTeamInfoModify</servlet-name>
    <url-pattern>/teamModify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoModifyReplayServlet</display-name>
    <servlet-name>DoModifyReplayServlet</servlet-name>
    <servlet-class>net.Y5M2.replay.web.DoModifyReplayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoModifyReplayServlet</servlet-name>
    <url-pattern>/doModifyReply</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewModifyReply</display-name>
    <servlet-name>ViewModifyReply</servlet-name>
    <servlet-class>net.Y5M2.replay.web.ViewModifyReply</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewModifyReply</servlet-name>
    <url-pattern>/modifyReply</url-pattern>
      </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoModifyTeamInfo</display-name>
    <servlet-name>DoModifyTeamInfo</servlet-name>
    <servlet-class>net.Y5M2.team.web.DoModifyTeamInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoModifyTeamInfo</servlet-name>
    <url-pattern>/doModifyTeamInfo</url-pattern>
  </servlet-mapping>
</web-app>